html{
    height: 100%;
}
body{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('/images/ark-survival-evolved1-18.webp');
    background-repeat: no-repeat;
    background-attachment: fixed;
}
h1{
    font-size: 48px;
    text-shadow: 2px 1.5px 0 #be823e;
}
select, button{
    background-color: black;
    color: #be823e;
    height: 20px;
    cursor: pointer;
}
dialog {
    background-color: #be823e;
    border-color: black;
    width: 30%;
    height: 80px;
    align-items: baseline;
    text-align: center;
}
dialog p{
    color: black;
}
dialog button{
    margin-right: 15px;
}
.centered{
    align-items: center;
    text-align: center;
}
.buttonLinkDiv{
    font-weight: bold;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    background-color: black;
    border-radius: 10%;
    width: 180px;
    padding: 10px 10px 10px 10px;
}
.buttonLinkDiv a{
    color: #be823e;
    text-decoration: none;
}